.tc-table{
  .el-table__body tr.current-row{
    background-color: #bad4ee !important;
  }
  .el-table__body tr.current-row:hover{
    background-color: #bad4ee !important;
  }
  .el-table--striped .el-table__body tr.el-table__row--striped.current-row td, 
  .el-table__body tr.current-row>td{
    background-color: #bad4ee !important;
  }
  .el-table__empty-block {
    min-height: 35px;
  }
  td {
    padding: 6px 0px !important;
  }
  thead{
    th{
      background-color: #E4E7ED;
      color: #303133;
      padding: 5px 0px !important;
    }
  }
}

.el-button--think{
  background-color: #394A5f;
  border-color: #394A5f;
  color: #fff;
}
.el-button--think:hover{
  background-color: #465B76;
  border-color: #6482a9;
  color: #fff;
}
.el-button--think:focus{
  background-color: #465B76;
  border-color: #6482a9;
  color:#fff;
}

.el-row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
/*******
* 日期选择变小一点
********/
.el-date-picker__header{
  margin: 6px;
}
.el-picker-panel__content{
  margin: 8px;
  width: auto !important;
}
.el-date-table{
  th {
    padding: 3px !important;
  }
  td {
    padding: 3px 0px !important;
  }
}

/**
** input-tag 修复样式  0.0.14版本修复后，去掉此样式
**/
.vue-input-tag-wrapper{
  padding-top: 1px;
  .input-tag{
    height: 26px;
    line-height: 26px;
    padding: 0px 4px;
    margin-bottom: 1px;
  }
}