language: node_js
# nodejs版本
node_js:
    - '8'

# Travis-CI Caching
cache:
  directories:
    - vue-admin/node_modules

# S: Build Lifecycle
install:
  - cd ./vue-admin
  - npm install

# 无其他依赖项所以执行npm run build 构建就行了
script:
  - npm run demo
  - cd ./dist
  - git init
  - git add -A
  - git commit -m 'deploy'
  - git push -f https://${GITHUB_USERNAME}:${GITHUB_PASSWORD}@github.com/ijry/initadmin.git master:gh-pages

# 指定分支，只有指定的分支提交时才会运行脚本
branches:
  only:
    - master
