{extend name="core@admin/public/base" /}

{block name="style"}
    <style type="text/css" media="screen">
      .top-button,
      .top-button a,
      .right-button,
      .right-button a {
          color: #909399;
          text-decoration: none;
      }
      .right-button {
        padding: 5px 8px;
        margin-left: 0px !important;
      }
      .top-button-list {
        margin-bottom: 15px;
      }
    </style>
{/block}

{block name="main"}
    <div class="ibuilder-list">
      <div class="top-button-list">
        {foreach $listData['topButtonList'] as $key0=>$vo0}
          <?php if($vo0['pageData']['modalType'] == 'confirm'): ?>
            <el-button
              @click="right_button_modal('{$key0}', scope)"
              class="top-button formMethod"
              size="medium">
              {$vo0.title}
            </el-button>
          <?php else: ?>
            <el-button
              class="top-button"
              size="medium">
              <a :href="'<?php echo request()->root(); ?>/admin/{$vo0.pageData.path}' + '.html'">{$vo0.title}</a>
            </el-button>
          <?php endif; ?>
        {/foreach}
      </div>
      <el-table
        :data="listData.dataList"
        style="width: 100%;margin-bottom: 20px;"
        border
        fit
        row-key="title">
        {foreach $listData['columns'] as $key=>$vo}
          <?php if(isset($vo['template']) && $vo['template'] == 'rightButtonList'): ?>
            <el-table-column
              prop="{$vo.key}"
              label="{$vo.title}"
              :sortable="false"
              width="{$vo.width}">
              <template slot-scope="scope">
                {foreach $listData['rightButtonList'] as $key1=>$vo1}
                  <?php if($vo1['pageData']['modalType'] == 'confirm'): ?>
                    <el-button
                      @click="right_button_modal('{$key1}', scope)"
                      class="right-button formMethod"
                      size="mini">
                      {$vo1.title}
                    </el-button>
                  <?php else: ?>
                    <el-button
                      class="right-button"
                      size="mini">
                      <?php if(isset($vo1['pageData']['apiSuffix'][0])): ?>
                        <a :href="'<?php echo request()->root(); ?>/admin/{$vo1.pageData.path}/' + scope.row.{$vo1.pageData.apiSuffix[0]} + '.html'">
                          {$vo1.title}
                        </a>
                      <?php else: ?>
                        <a :href="'<?php echo request()->root(); ?>/admin/{$vo1.pageData.path}' + '.html'">
                          {$vo1.title}
                        </a>
                      <?php endif; ?>
                    </el-button>
                  <?php endif; ?>
                {/foreach}
              </template>
            </el-table-column>
          <?php else: ?>
            <el-table-column
              prop="{$vo.key}"
              label="{$vo.title}"
              :sortable="false"
              width="{$vo.width}">
            </el-table-column>
          <?php endif; ?>
        {/foreach}
      </el-table>
{/block}

{block name="vue"}
    <script>
        {include file="core@admin/public:util" /}
        new Vue({
            el: '#app',
            data: function() {
                return {
                    {include file="core@admin/public:data" /},
                    listData: <?php echo json_encode($listData); ?>
                }
            },
            methods: {
                {include file="core@admin/public:methods" /},
                right_button_modal(key, scope) {
                  let button_data = this.listData.rightButtonList[key];
                  var apiSuffix = '';
                  if (this.listData.rightButtonList[key].pageData.apiSuffix) {
                      let asd = this.listData.rightButtonList[key].pageData.apiSuffix;
                      for(let v of asd) {
                          apiSuffix = apiSuffix + '/' + scope.row[v];
                      };
                  } else {
                      apiSuffix = '/' + scope.row.id;
                  }
                  this.$confirm(button_data.pageData.content, button_data.pageData.title, {
                    dangerouslyUseHTMLString: true,
                    confirmButtonText: button_data.pageData.okText,
                    cancelButtonText: button_data.pageData.cancelText,
                    type: 'warning'
                  }).then( async () => {
                    let res = await util.request({
                        url: button_data.pageData.api + apiSuffix,
                        method: button_data.pageData.formMethod
                    });
                    if (res.code=='200') {
                        this.$message({
                          type: 'success',
                          message: res.msg
                        });
                        location.reload();
                    } else {
                        this.$message({
                          type: 'error',
                          message: res.msg
                        });
                    }
                  });
                }
            }
        });
    </script>
{/block}
