{extend name="cms@public/base" /}

{block name="style"}
    <style type="text/css" media="screen">
        .banner img {
            height: 180px;
        }
        .banner-content {
            height: 100px;
            color: #fff;
            font-size: 22px;
            padding-top: 80px;
            background-size: 100% 100%;
            background-image: url('<?php echo request()->root(); ?>/static/banner.png');
        }
        .post-item {
            align-items: flex-start;
            margin-bottom: 15px;
        }
        .post-item .cover {
            margin-right: 15px;
        }
        .post-item .cover img {
            width: 150px;
            height: 100px;
        }
        .post-item .title {
            font-size: 16px;
            color: #303133;
        }
        .post-item .description {
            margin-top: 8px;
            height: 52px;
            font-size: 14px;
            line-height: 26px;
            color: #909399;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .post-item .info {
            font-size: 13px;
            color: #909399;
        }
        .el-aside img {
            width: 100%;
        }
    </style>
{/block}

{block name="banner"}
    <div>
        <div class="banner-content">
            <div class="container" style="text-align: center;">
                {$info.title}
            </div>
        </div>
    </div>
{/block}

{block name="main"}
    <div class="container flex" style="align-items: flex-start;padding-top: 20px;">
        <el-main style="padding-right: 20px !important;">
            <div>
                {$info.content|raw}
            </div>
        </el-main>
        <el-aside>
            <div>
                <a href="https://promotion.aliyun.com/ntms/act/enterprise-discount.html?userCode=gi8nxxhq" target="_blank">
                    <img src="https://img.alicdn.com/tfs/TB1aDXhXpzqK1RjSZFvXXcB7VXa-259-194.jpg">
                </a>
            </div>
            <div>
                <a href="https://tm.aliyun.com/?userCode=gi8nxxhq" target="_blank">
                    <img src="https://img.alicdn.com/tfs/TB1kJDyvSzqK1RjSZPxXXc4tVXa-504-320.jpg">
                </a>
            </div>
            <div>
                <a href="https://promotion.aliyun.com/ntms/act/qwbk.html?userCode=gi8nxxhq" target="_blank">
                    <img src="https://img.alicdn.com/tfs/TB17qJhXpzqK1RjSZFvXXcB7VXa-200-126.jpg">
                </a>
            </div>
        </el-aside>
    </div>
{/block}

{block name="vue"}
    <script>
        new Vue({
          el: '#app',
          data: function() {
            return {}
          }
        })
    </script>
{/block}
