{extend name="$ibuilder_base" /}

{block name="style"}
    <style type="text/css" media="screen">
        .post-item {
            align-items: flex-start;
            margin-bottom: 15px;
        }
        .post-item .cover {
            margin-right: 15px;
        }
        .post-item .cover img {
            width: 150px;
            height: 100px;
        }
        .post-item .title {
            font-size: 16px;
            color: #303133;
        }
        .post-item .description {
            margin-top: 8px;
            height: 52px;
            font-size: 14px;
            line-height: 26px;
            color: #909399;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .post-item .info {
            font-size: 13px;
            color: #909399;
        }
        .el-aside img {
            width: 100%;
        }
    </style>
{/block}

{block name="banner"}
    <div class="main-banner">
        <div class="content">
            <h1 class="title">{$cate_info.title}</h1>
            <p class="description"></p>
            <p class="info"></p>
        </div>
    </div>
{/block}

{block name="main"}
    <div class="container flex" style="align-items: flex-start;padding-top: 20px;">
        <el-main style="padding-right: 20px !important;">
            <div class="post-list">
                {volist name="data_list" id="vo"}
                    <a class="post-item flex" href="{:url('cms/post/info', ['id' => $vo['id']])}">
                        <div class="cover" style="">
                            <img src="{$vo.cover}" alt="{$vo.title}">
                        </div>
                        <div class="content">
                            <div class="title">
                                {$vo.title}
                            </div>
                            <div class="description">
                                {$vo.description}
                            </div>
                            <div class="info">
                                <span>{$vo.post_time|time_format}</span>
                                <span>{$vo.view_count}</span>
                            </div>
                        </div>
                    </a>
                {/volist}
            </div>
        </el-main>
        <el-aside>
            <div>
                <a href="https://promotion.aliyun.com/ntms/act/enterprise-discount.html?userCode=gi8nxxhq" target="_blank">
                    <img src="https://img.alicdn.com/tfs/TB1aDXhXpzqK1RjSZFvXXcB7VXa-259-194.jpg">
                </a>
            </div>
            <div>
                <a href="https://tm.aliyun.com/?userCode=gi8nxxhq" target="_blank">
                    <img src="https://img.alicdn.com/tfs/TB1kJDyvSzqK1RjSZPxXXc4tVXa-504-320.jpg">
                </a>
            </div>
            <div>
                <a href="https://promotion.aliyun.com/ntms/act/qwbk.html?userCode=gi8nxxhq" target="_blank">
                    <img src="https://img.alicdn.com/tfs/TB17qJhXpzqK1RjSZFvXXcB7VXa-200-126.jpg">
                </a>
            </div>
        </el-aside>
    </div>
{/block}
