<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{block name="title"}InitAdmin{/block}</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style type="text/css">
        .warp {}
        .body {
            display: flex;
        }
        .container {
            width: 1050px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div id="app" class="wrap">
        <el-container>
            <el-header class="header">
                {block name="menu"}
                    <div class="container">
                        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                          <el-menu-item index="1">处理中心</el-menu-item>
                          <el-submenu index="2">
                            <template slot="title">我的工作台</template>
                            <el-menu-item index="2-1">选项1</el-menu-item>
                            <el-menu-item index="2-2">选项2</el-menu-item>
                            <el-menu-item index="2-3">选项3</el-menu-item>
                            <el-submenu index="2-4">
                              <template slot="title">选项4</template>
                              <el-menu-item index="2-4-1">选项1</el-menu-item>
                              <el-menu-item index="2-4-2">选项2</el-menu-item>
                              <el-menu-item index="2-4-3">选项3</el-menu-item>
                            </el-submenu>
                          </el-submenu>
                          <el-menu-item index="3" disabled>消息中心</el-menu-item>
                          <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>
                        </el-menu>
                    </div>
                {/block}
            </el-header>
            <div class="body">
                {block name="left"}{/block}
                <el-main>
                    {block name="main"}主内容{/block}
                </el-main>
                {block name="right"}{/block}
            </div>
            <el-footer class="footer">
                {block name="footer"}底部{/block}
            </el-footer>
        </el-container>
    </div>
</body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { visible: false }
      }
    })
  </script>
</html>