<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{block name="title"}InitAdmin{/block}</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style type="text/css">
        .warp {}
        .body {
            display: flex;
        }
        .container {
            width: 1050px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div id="app" class="wrap">
        <el-container>
            <el-header class="header">
                {block name="menu"}
                    <div class="container">
                        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                          <el-menu-item index="index">首页</el-menu-item>
                          {cms:cate_list id="vo"}
                            <el-menu-item index="{$key}">{$vo.title}</el-menu-item>
                          {/cms:cate_list}
                        </el-menu>
                    </div>
                {/block}
            </el-header>
            <div class="body">
                {block name="left"}{/block}
                <el-main>
                    {block name="main"}主内容{/block}
                </el-main>
                {block name="right"}{/block}
            </div>
            <el-footer class="footer">
                {block name="footer"}{/block}
            </el-footer>
        </el-container>
    </div>
</body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { visible: false }
      }
    })
  </script>
</html>