{extend name="core@admin/public/base" /}

{block name="style"}
    <style type="text/css" media="screen">
        .el-card {
            height: 350px;
        }
        a {
            text-decoration: none;
        }
    </style>
{/block}

{block name="main"}
    <el-row :gutter="20">
        <el-col :xs="24" :sm="12">
            <el-card shadow="never" class="box-card">
                <div slot="header" class="clearfix">
                    <span>系统信息</span>
                </div>
                <div>
                    <div>后台名称：UniAdmin后台</div>
                    <div>官方网站：<a target="_blank" href="https://uniadmin.jiangruyi.com">https://uniadmin.jiangruyi.com</a></div>
                    <div>客户端框架：xyadmin v0.1.0</div>
                    <div>服务端框架：uniadmin v0.1.0</div>
                    <el-divider></el-divider>
                    <div>PHP版本：7.0</div>
                    <div>数据库版本：Mysql5.7</div>
                    <div>文件上传限制：100M</div>
                </div>
            </el-card>
        </el-col>
        <el-col :xs="24" :sm="12">
            <el-card shadow="never" class="box-card">
                <div slot="header" class="clearfix">
                    <span>APP与交流群</span>
                </div>
                <div>
                    <img style="width: 200px;margin-right: 10px;" src="https://admin.jiangruyi.com/img/app.ef222224.png">
                    <img style="width: 200px;margin-right: 10px;" src="https://admin.jiangruyi.com/img/qun_qq.a49e406d.png">
                </div>
            </el-card>
        </el-col>
    </el-row>
{/block}
